@media (max-width:400px){
    /*index*/
    .icono-desplazamiento-ig{
        top:215vh;
        right:70vw;
    }
    .icono-desplazamiento-tw{
        top:215vh;
        right:35vw;
    }
    .icono-desplazamiento-face{
        top:215vh;
        right:5vw;
    }
    .informacion-general{
        top:230vh;
        border-radius:none; 
        -moz-border-radius:none; 
        -webkit-border-radius:none; 
        border: none;
        box-shadow:none;    
    }
    /*posiciones aclav*/
    .nombre-pos-grupo1-aclav{
        top:20vh;
        right:-20vw;
    }
    .posicionamiento-grupo-1-posiciones-aclav{
        top:30vh;
        right:10vw;
        width:75vw;
        height:40vw;
    }
    .nombre-pos-grupo2-aclav{
        top:50vh;
        right:-20vw;
    }
    .posicionamiento-grupo-2-posiciones-aclav{
        top:60vh;
        right:10vw;
        width:75vw;
        height:40vw;
    }
    .nombre-pos-grupo3-aclav{
        top:80vh;
        right:-20vw;
    }
    .posicionamiento-grupo-3-posiciones-aclav{
        top:90vh;
        right:10vw;
        width:75vw;
        height:40vw;
    }
    .icono-desplazamiento-ig-pos-aclav{
        top:110vh;
        right: 75vw;
    }
    .icono-desplazamiento-tw-pos-aclav{
        top:110vh;
        right:40vw;
    }
    .icono-desplazamiento-face-pos-aclav{
        top:110vh;
        right:5vw;
    }
    .paginacion-posiciones-aclav{
        top:122vh;
        right:15vw;
    }
    .informacion-general-aclav{
        top:135vh;
        width:100% ;
        border-radius: none; 
        -moz-border-radius: none; 
        -webkit-border-radius: none; 
        border: none;
        box-shadow:none;
    }
    #texto-info-general-aclav-1{
        position:absolute;
        font-size:3vw;
        top:-4vh;
    }
    #texto-info-general-aclav-2{
        position:absolute;
        font-size:2.5vw;
        top:-1vh;
    }
    #texto-info-general-aclav-3{
        position:absolute;
        font-size:3vw;
        top:-4vh;
        right:30vw;
    }
    #texto-info-general-aclav-4{
        position:absolute;
        font-size:3vw;
        top:-4vh;
        right: 2vw;
    }
    #texto-info-general-aclav-5{
        position:absolute;
        font-size:2.8vw;
        top:-1.3vh;
        right:5vw;   
    }
    /*fixture aclav*/
    nav{
        font-size:1.7vw;
        padding:5px 5px 1px 1px;
        margin: 2px 2px 0px -25px;
    }
    .reglas-informacion{
        font-size:3.5vw;
    }
    #estilos-de-grupos{
        font-size:6vw;
    }
    #texto-tabla{
        font-size: 3vw;
        border: 1px solid #01360a;
        box-shadow: none;
    }
    .nombre-fixture-grupo1-aclav{
        top:20vh;
        right:30vw;
    }
    .posicionamiento-fixture-1-aclav{
        top:30vh;
        right:15vw;
        width:70vw;
        height:40vw;
    }
    .nombre-fixture-grupo2-aclav{
        top:55vh;
        right:30vw;
    }
    .posicionamiento-fixture-2-aclav{
        top:65vh;
        right:15vw;
        width:70vw;
        height:40vw;
    }
    .nombre-fixture-grupo3-aclav{
        top:95vh;
        right:30vw;
    }
    .posicionamiento-fixture-grupo3-aclav{
        top:105vh;
        right:15vw;
        width:70vw;
        height:40vw;
    }
    .nombre-fixture-4tos-aclav{
        top:140vh;
        right:30vw;
    }
    .posicionamiento-fixture-4tos-aclav{
        top:150vh;
        right:15vw;
        width:70vw;
        height:40vw;
    }
    .nombre-fixture-semi-aclav{
        top:180vh;
        right:30vw;
    }
    .posicionamiento-fixture-semi-aclav{
        top:190vh;
        right:15vw;
        width:70vw;
        height:30vw;
    }
    .nombre-fixture-final-aclav{
        top:205vh;
        right:40vw;
    }
    .posicionamiento-fixture-final-aclav{
        top:215vh;
        right:15vw;
        width:70vw;
        height:30vw;
    }
    .paginacion-fixture-aclav{
        top:232vh;
        right: 15vw;
    }
    .icono-desplazamiento-ig-fixture-aclav{
        top: 240vh;
        right:60vw ;
    }
    .icono-desplazamiento-tw-fixture-aclav{
        top: 240vh;
        right:35vw;
    }
    .icono-desplazamiento-face-fixture-aclav{
        top: 240vh;
        right:10vw;
    }
    .informacion-general-fixture-aclav{
        top:255vh;
        width:100% ;
        border-radius: none; 
        -moz-border-radius: none; 
        -webkit-border-radius: none; 
        border: none;
        box-shadow:none;
    }
    #texto-info-general-fixture-aclav-1{
        position:absolute;
        font-size:3vw;
        top:-4vh;
    }
    #texto-info-general-fixture-aclav-2{
        position:absolute;
        font-size:2.5vw;
        top:-1vh;
    }
    #texto-info-general-fixture-aclav-3{
        position:absolute;
        font-size:3vw;
        top:-4vh;
        right:30vw;
    }
    #texto-info-general-fixture-aclav-4{
        position:absolute;
        font-size:3vw;
        top:-4vh;
    }
    #texto-info-general-fixture-aclav-5{
        position:absolute;
        font-size:2.8vw;
        top:-1.3vh;
        right:5vw;        
    }
    /*posiciones lvarus*/
    .nombre-pos-lvarus{
        position: absolute;
        top:20vh;
        right:15vw;
    }
    .posicionamiento-posiciones-lvarus{
        top:30vh;
        right:0vw;
        width:95vw;
        height:90vw;
    }
    .icono-desplazamiento-ig-pos-lvarus{
        top:75vh;
        right:75vw;
    }
    .icono-desplazamiento-tw-pos-lvarus{
        top:75vh;
        right:35vw;
    }
    .icono-desplazamiento-face-pos-lvarus{
        top:75vh;
        right:5vw;
    }
    .paginacion-posiciones-lvarus{
        top:90vh;
        right:10vw;
    }
    .informacion-general-posiciones-lvarus{
        top:105vh;
        width:100% ;
        border-radius: none; 
        -moz-border-radius: none; 
        -webkit-border-radius: none; 
        border: none;
        box-shadow:none;
    }
    .texto-info-general-lvarus-1{
        position:absolute;
        font-size:3vw;
        top:-4vh;
    }
    .texto-info-general-lvarus-2{
        position:absolute;
        font-size:2.5vw;
        top:-1vh;
    }
    .texto-info-general-lvarus-3{
        position:absolute;
        font-size:3vw;
        top:-4vh;
        right:30vw;
    }
    .texto-info-general-lvarus-4{
        position:absolute;
        font-size:3vw;
        top:-4vh;
        right:1vw;
    }
    .texto-info-general-lvarus-5{
        position:absolute;
        font-size:2.8vw;
        top:-1.3vh;
        right:5vw;  
    }
    /*fixture lvarus*/
    .nombre-fecha1-lvarus{
        top:20vh;
        right:40vw;
    }
    .posicionamiento-fecha1-lvarus{
        top:25vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha2-lvarus{
        top:56vh;
        right:40vw;
    }
    .posicionamiento-fecha2-lvarus{
        top:60vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha3-lvarus{
        top:90vh;
        right:40vw;
    }
    .posicionamiento-fecha3-lvarus{
        top:95vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha4-lvarus{
        top:121vh;
        right:40vw;
    }
    .posicionamiento-fecha4-lvarus{
        top:125vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha5-lvarus{
        top:155vh;
        right:40vw;
    }
    .posicionamiento-fecha5-lvarus{
        top:160vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha6-lvarus{
        top:186vh;
        right:40vw;
    }
    .posicionamiento-fecha6-lvarus{
        top:190vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha7-lvarus{
        top:220vh;
        right:40vw;
    }
    .posicionamiento-fecha7-lvarus{
        top:225vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha8-lvarus{
        top:251vh;
        right:40vw;
    }
    .posicionamiento-fecha8-lvarus{
        top:255vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha9-lvarus{
        top:281vh;
        right:40vw;
    }
    .posicionamiento-fecha9-lvarus{
        top:285vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha10-lvarus{
        top:311vh;
        right:40vw;
    }
    .posicionamiento-fecha10-lvarus{
        top:315vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha11-lvarus{
        top:341vh;
        right:40vw;
    }
    .posicionamiento-fecha11-lvarus{
        top:345vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha12-lvarus{
        top:370vh;
        right:40vw;
    }
    .posicionamiento-fecha12-lvarus{
        top:375vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha13-lvarus{
        top:405vh;
        right:40vw;
    }
    .posicionamiento-fecha13-lvarus{
        top:410vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha14-lvarus{
        top:440vh;
        right:40vw;
    }
    .posicionamiento-fecha14-lvarus{
        top:445vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha15-lvarus{
        top:475vh;
        right:40vw;
    }
    .posicionamiento-fecha15-lvarus{
        top:480vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha16-lvarus{
        top:510vh;
        right:40vw;
    }
    .posicionamiento-fecha16-lvarus{
        top:515vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha17-lvarus{
        top:540vh;
        right:40vw;
    }
    .posicionamiento-fecha17-lvarus{
        top:545vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha18-lvarus{
        top:571vh;
        right:40vw;
    }
    .posicionamiento-fecha18-lvarus{
        top:575vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha19-lvarus{
        top:601vh;
        right:40vw;
    }
    .posicionamiento-fecha19-lvarus{
        top:605vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha20-lvarus{
        top:631vh;
        right:40vw;
    }
    .posicionamiento-fecha20-lvarus{
        top:635vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha21-lvarus{
        top:665vh;
        right:40vw;
    }
    .posicionamiento-fecha21-lvarus{
        top:670vh;
        right:10vw;
        width:80vw;
    }
    .nombre-fecha22-lvarus{
        top:696vh;
        right:40vw;
    }
    .posicionamiento-fecha22-lvarus{
        top:700vh;
        right:10vw;
        width:80vw;
    }
    .nombre-cuartos-lvarus{
        top:726vh;
        right:30vw;
    }
    .posicionamiento-cuartos-lvarus{
        top:730vh;
        right:10vw;
        width:80vw;
    }
    .nombre-semi-lvarus{
        top:767vh;
        right:35vw;
    }
    .posicionamiento-semi-lvarus{
        top:771vh;
        right:10vw;
        width:80vw;
    }
    .nombre-final-lvarus{
        top:791vh;
        right:40vw;
    }
    .posicionamiento-final-lvarus{
        top:795vh;
        right:10vw;
        width:80vw;
        height: 30vw;
    }    
    .icono-desplazamiento-ig-fixture-lvarus{
        top:820vh;
        right:70vw;
    }
    .icono-desplazamiento-tw-fixture-lvarus{
        top:820vh;
        right:30vw;
    }
    .icono-desplazamiento-face-fixture-lvarus{
        top:820vh;
        right:0vw;
    }
    .paginacion-fixture-lvarus{
        top:835vh;
        right:18vw;
    }
    .informacion-general-fixture-lvarus{
        top:850vh;
        width:100% ;
        border-radius:none; 
        -moz-border-radius:none; 
        -webkit-border-radius:none; 
        border:none;
        box-shadow:none;
    }
    #texto-info-general-fixture-lvarus-1{
        position:absolute;
        font-size:2.5vw;
        top:1vh;
    }
    #texto-info-general-fixture-lvarus-2{
        top:3vh;
        font-size:2.5vw;
        right:65vw;
    }
    #texto-info-general-fixture-lvarus-3{
        top:1vh;
        font-size:2.5vw;
        right:30vw;
    }
    #texto-info-general-fixture-lvarus-4{
        top:1vh;
        font-size:2.5vw;
        right:10vw;
    }
    #texto-info-general-fixture-lvarus-5{
        top:3vh;
        font-size:2.5vw;
        right:8vw;
    }
    /*fixture supercopa*/
    .nombre-semi-supercopa{
        top:20vh;
        right:35vw;
    }
    .posicionamiento-semi-supercopa{
        top:25vh;
        right:10vw;
        width:80vw;
        height:30vw;
    }
    .nombre-3ro4to-supercopa{
        top:40vh;
        right:35vw;
    }
    .posicionamiento-3ro4to-supercopa{
        top:45vh;
        right:10vw;
        width:80vw;
    }
    .nombre-final-supercopa{
        top:55vh;
        right:40vw;
    }
    .posicionamiento-final-supercopa{
        top:60vh;
        right:10vw;
        width:80vw;
    }
    .icono-desplazamiento-ig-supercopa{
        top:70vh;
        right:70vw;
    }
    .icono-desplazamiento-tw-supercopa{
        top:70vh;
        right:30vw;
    }
    .icono-desplazamiento-face-supercopa{
        top:70vh;
        right:0vw;
    }
    .informacion-general-supercopa{
        top:96vh;
        width:100% ;
        border-radius: none; 
        -moz-border-radius: none; 
        -webkit-border-radius: none; 
        border: none;
        box-shadow:none;
    }
    #texto-info-general-super-copa-1{
        top:0vh;
        font-size:3vw;
    }
    #texto-info-general-super-copa-2{
        top:3vh;
        font-size: 2.5vw;
        right: 68vw;
    }
    #texto-info-general-super-copa-3{
        top: 0vh;
        right:30vw;
        font-size:3vw;
    }
    #texto-info-general-super-copa-4{
        top: 0vh;
        right: 10vw;
        font-size:3vw;
    }
    #texto-info-general-super-copa-5{
        top:3vh;
        right:4vw;
        font-size:2.5vw;
    }
    .paginacion-torneo-torneo-int{
        position: absolute;
        top:50vh;
        width: auto;
    }
    .pagination-lg .page-item:first-child .page-link{
        font-size:2.2vw;
        width:12vw;
        height:20vw;
    }
    .page-item:not(:first-child) .page-link {
        font-size:2.6vw;
        width:19vw;
        height:20vw;
        right:5vw;
        top:0vh ;
    }
    .pagination-lg .page-item:last-child .page-link {
        font-size:2.2vw;
        width:22vw;
        height:20vw;
        right:5vw;
        top:0vh;
    }
    .informacion-general-torneos-int-clubes{
        top:101vh;
        width:100% ;
        border-radius:none; 
        -moz-border-radius:none; 
        -webkit-border-radius:none; 
        border:none;
        box-shadow:none;
    }
    #texto-info-general-torneo-int-clubes-1{
        font-size:3vw;
        top:-4vh;
    }
    #texto-info-general-torneo-int-clubes-2{
        top:-1vh;
        font-size:2.5vw;
        right: 72vw;
    }
    #texto-info-general-torneo-int-clubes-3{
        top:-4vh;
        font-size:3vw;
        right:30vw;
    }
    #texto-info-general-torneo-int-clubes-4{
        top:-4vh;
        font-size:3vw;
        right:10vw;
    }
    #texto-info-general-torneo-int-clubes-5{
        top:-2vh;
        font-size:2.5vw;
        right:1vw;
    }
}
