@media only screen and (min-width:1000px) and (max-width:1500px) {
    .informacion-general{
        top:70vw;
        box-shadow:2px 2px 2px 2px red;
    }
    #texto-info-general-1{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
    }
    #texto-info-general-2{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        top:-1vw;
        font-size:1vw;
        right:80vw;
    }
    #texto-info-general-3{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:45vw;
        top:-3vw;
        font-size:1.2vw;
    }
    #texto-info-general-4{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:12vw;
        top:-3vw;
        font-size:1.2vw;
    }
    #texto-info-general-5{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:2vw;
        top:-1vw;
        font-size:1vw;
    }
    .icono-desplazamiento-ig{
        position:absolute;
        top:58vw;
    }
    .icono-desplazamiento-tw{
        position:absolute;
        top:58vw;
    }
    .icono-desplazamiento-face{
        position:absolute;
        top:58vw;
    }
    .informacion-general-aclav{
        top: 150vw;
    }
    .icono-desplazamiento-ig-pos-aclav{
        top:140vw;
    }
    .icono-desplazamiento-face-pos-aclav{
        top:140vw;
    }
    .icono-desplazamiento-tw-pos-aclav{
        top:140vw;
        right:45vw;
    }
    #paginacion-posiciones-aclav{
        top:130vw;
        right:35vw;
    }



    .posicionamiento-nombredegrupo-1-posiciones-aclav{
        top:45vw; 
        right:47vw;
    }
    #posicionamiento-grupo-1-posiciones-aclav{
        position: absolute;
        top:55vw;
        right:15vw;
    }
    .posicionamiento-nombredegrupo-2-posiciones-aclav{
        top:70vw;
        right:47vw;
    }
    #posicionamiento-grupo-2-posiciones-aclav{
        position: absolute;
        top:80vw;
        right:15vw;
    }
    .posicionamiento-nombredegrupo-3-posiciones-aclav{
        top:95vw; 
        right:47vw;
    }
    #posicionamiento-grupo-3-posiciones-aclav{
        position:absolute; 
        top:105vw; 
        right:15vw;
    }
    #texto-info-general-aclav-1{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
    }
    
    #texto-info-general-aclav-2{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1vw;
        top:-1vw;
        right:75vw;
    }
    
    #texto-info-general-aclav-3{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
        right:38vw;
    }
    
    #texto-info-general-aclav-4{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
        right:10vw
    }
    
    #texto-info-general-aclav-5{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1vw;
        right:1.5vw;
        top:-1vw;
    }
}   