@media only screen and (max-width:499px) {
    .menu-horizontal{
        font-size: 1.8vw;
        width:85vw;
    }
    .informacion-general{
        top:435vw;
        box-shadow:2px 2px 2px 2px red;
        height:10vw;
    }
    #texto-info-general-1{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.5vw;
        top:-5vw;
    }
    #texto-info-general-2{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        top:-2vw;
        font-size:1.2vw;
        right:75vw;
    }
    #texto-info-general-3{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:45vw;
        top:-5vw;
        font-size:1.5vw;
    }
    #texto-info-general-4{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:12vw;
        top:-5vw;
        font-size:1.5vw;
    }
    #texto-info-general-5{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        right:4vw;
        top:-1vw;
        font-size:1.5vw;
    }
    .icono-desplazamiento-ig{
        position:absolute;
        top:412vw;
    }
    .icono-desplazamiento-tw{
        position:absolute;
        top:412vw;
    }
    .icono-desplazamiento-face{
        position:absolute;
        top:412vw;
    }
    .posicionamiento-nombredegrupo-1-posiciones-aclav{
        top:45vw; 
        right:47vw;
    }
    #posicionamiento-grupo-1-posiciones-aclav{
        position: absolute;
        top:55vw;
        right:15vw;
    }
    .posicionamiento-nombredegrupo-2-posiciones-aclav{
        top:70vw;
        right:47vw;
    }
    #posicionamiento-grupo-2-posiciones-aclav{
        position: absolute;
        top:80vw;
        right:15vw;
    }
    .posicionamiento-nombredegrupo-3-posiciones-aclav{
        top:95vw; 
        right:47vw;
    }
    #posicionamiento-grupo-3-posiciones-aclav{
        position:absolute; 
        top:105vw; 
        right:15vw;
    }
    #texto-info-general-aclav-1{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
    }
    
    #texto-info-general-aclav-2{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1vw;
        top:-1vw;
        right:75vw;
    }
    
    #texto-info-general-aclav-3{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
        right:38vw;
    }
    
    #texto-info-general-aclav-4{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1.2vw;
        top:-3vw;
        right:10vw
    }
    
    #texto-info-general-aclav-5{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        position:absolute;
        font-size:1vw;
        right:1.5vw;
        top:-1vw;
    }
}