
.paginacion-posiciones-aclav{
    position:absolute;
    top:165vh;
    right:42vw;
}
.paginacion-fixture-aclav{
    position:absolute;
    top:256vh;
    right:40vw;
}
.paginacion-posiciones-lvarus{
    position:absolute;
    top:115vh;
    right:42vw;
}
.paginacion-torneos-camp-mun-fivb{
    position:absolute;
    top:26vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-camp-mun-fivb{
    position:absolute;
    top:85vw;
    width:5vw;
    height:5vw;
    right:55vw;
}
.paginacion-torneo-camp-mun-fivb-f{
    position:absolute;
    top:26.5vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-fases-camp-mund-fivb-f{
    position:absolute;
    top:95vw;
    width:20vw;
    height:2vw;
    right:35vw;
}
.paginacion-camp-mun-fivb-f{
    position:absolute;
    top:102vw;
    width:5vw;
    height:5vw;
    right:50vw;
}
.paginacion-torneo-camp-mun-fivb-f-playoff{
    position:absolute;
    top:26vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-fases-camp-mund-fivb-f-playoff{
    position:absolute;
    top:58vw;
    width:20vw;
    height:2vw;
    right:41vw;
}
.paginacion-camp-mund-fivb-playoff-myf{
    position:absolute;
    top:64vw;
    width:5vw;
    height:5vw;
    right:56vw;
}
.paginacion-torneo-liga-camp-europa{
    position:absolute;
    top:26.5vw;
    width:90vw;
    right:00vw;
}
.paginacion-fases-liga-campp-europa{
    position:absolute;
    top:95vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-torneo-liga-camp-europa-a-m{
    position:absolute;
    top:26vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-a-m{
    position:absolute;
    top:31vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-a-m{
    position:absolute;
    top:38vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-fases-liga-camp-europa-b-m{
    position:absolute;
    top:35vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-b-m{
    position:absolute;
    top:40vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-torneo-liga-camp-europa-c-m{
    position:absolute;
    top:27vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-c-m{
    position:absolute;
    top:33vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-c-m{
    position:absolute;
    top:39vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-torneo-liga-camp-europa-d-m{
    position:absolute;
    top:27vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-d-m{
    position:absolute;
    top:35vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-d-m{
    position:absolute;
    top:40vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-torneo-liga-camp-europa-e-m{
    position:absolute;
    top:27vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-e-m{
    position:absolute;
    top:35vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-e-m{
    position:absolute;
    top:40vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-torneo-liga-camp-europa-palyoff-m{
    position:absolute;
    top:27vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-playoff-m{
    position:absolute;
    top:32vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-torneo-copa-cev{
    position:absolute;
    top:27vw;
    width:90vw;
    right:-5vw;
}
.paginacion-torneo-camp-sud{
    position:absolute;
    top:27vw;
    width:85vw;
    right:0vw;
}
.paginacion-fases-camp-sud-m{
    position:absolute;
    top:33vw;
    width:20vw;
    height:5vw;
    right:40vw;
}
.paginacion-fases-camp-sud-m-playoff{
    position:absolute;
    top:33vw;
    width:20vw;
    height:5vw;
    right:40vw;
}
.paginacion-torneo-camp-sud-f{
    position:absolute;
    top:26.5vw;
    width:90vw;
    height:5vw;
    right:00vw;
}
.paginacion-j-o{
    position:absolute;
    top:225vh;
    right:45vw;
}
.paginacion-j-o-f{
    position:absolute;
    top:123vw;
    right:45vw;
}
.paginacion-grupos-camp-mundial{
    position:absolute;
    top:27vw;
    right:30vw;
}
.paginacion-grupos-camp-mundial-f{
    position:absolute;
    top:27vw;
    right:30vw;
}
.paginacion-torneo-camp-mund-fixture-m{
    position:absolute;
    top:27vw;
    right:30vw;
}
.paginacion-torneo-camp-mund-fixture-f{
    position:absolute;
    top:26vw;
    right:30vw;
}
.paginacion-fases-nations-legue{
    position:absolute;
    top:160vh;
    right:45vw;
}
.paginacion-fases-nation-league-fixture{
    position:absolute;
    top:490vh;
    right:45vw;
}
.paginacion-fase-copa-panamericana{
    position:absolute;
    top:155vw;
    right:45vw;
}
.paginacion-fases-copa-panamericana-playoff{
    position:absolute;
    top:72vw;
    right:45vw;
}
.paginacion-fases-juegos-panamericanos{
    position:absolute;
    top:102vw;
    right:45vw;
}
.paginacion-fases-juegos-panamericanos-playoff{
    position:absolute;
    top:100vw;
    right:45vw;
}
.paginacion-cat-inferiores{
    position:absolute;
    top:31vw;
    right:00vw;
    width:100vw;
}
.paginacion-torneo-copa-pana-s23-m{
    position:absolute;
    top:26vw;
    right:00vw;
    width:100vw;
}
.paginacion-copa-pana-s23-f{
    position:absolute;
    top:27vw;
    right:00vw;
    width:100vw;
}
.paginacion-copa-pana-s21{
    position:absolute;
    top:27vw;
    right:0vw;
    width:100vw;
}
.paginacion-copa-pana-s20-f{
    position:absolute;
    top:27vw;
    right:00vw;
    width:100vw;
}
.paginacion-copa-pana-s18-f{
    position:absolute;
    top:27vw;
    right:00vw;
    width:100vw;
}

.nombre-pos-grupo1-aclav{
    top:72vh; 
    right:60vw;
}
.posicionamiento-grupo-1-posiciones-aclav{
    position: absolute;
    top:85vh;
    right:92vw;
}
.nombre-fixture-grupo1-aclav{
    position: absolute;
    top:55vh; 
    right:66vw;
}
.posicionamiento-fixture-1-aclav{
    position: absolute;
    top:65vh;
    right:55vw;
}
.nombre-pos-grupo2-aclav{
    top:72vh;
    right:08vw;
}
.posicionamiento-grupo-2-posiciones-aclav{
    position: absolute;
    top:85vh;
    right:40vw;
}
.nombre-fixture-grupo2-aclav{
    position: absolute;
    top:55vh;
    right:18vw;
}
.posicionamiento-fixture-2-aclav{
    position:absolute;
    top:65vh;
    right:06vw;

}
.nombre-pos-grupo3-aclav{
    top:112vh; 
    right:38vw;
}
.posicionamiento-grupo-3-posiciones-aclav{
    position:absolute; 
    top:125vh; 
    right:70vw;
}
.nombre-fixture-grupo3-aclav{
    position: absolute;
    top:100vh;
    right:41vw;
}
.posicionamiento-fixture-grupo3-aclav{
    position: absolute;
    top:115vh;
    right:30vw;   
}
.nombre-fixture-4tos-aclav{
    top:160vh;
    right:40vw;
}
.posicionamiento-fixture-4tos-aclav{
    position: absolute;
    top:170vh;
    right:30vw;
}
.nombre-fixture-semi-aclav{
    top:205vh;
    right:41vw;
}
.posicionamiento-fixture-semi-aclav{
    position: absolute;
    top:215vh;
    right:30vw;
}
.nombre-fixture-final-aclav{
    top:230vh;
    right:44vw;
}
.posicionamiento-fixture-final-aclav{
    position: absolute;
    top:240vh;
    right:30vw;
}
.nombre-pos-lvarus{
    position: absolute;
    top:40vh;
    right:35vw;
}
.posicionamiento-posiciones-lvarus{
    position: absolute; 
    top:55vh; 
    right:28vw;
    font-size: 25vw;
}
.nombre-fecha1-lvarus{
    top:65vh; 
    right:68vw;
    font-size:2.5vw;
}
.posicionamiento-fecha1-lvarus{
    position: absolute; 
    top:75vh; 
    right:55vw;
    width:40vw;
}
.nombre-fecha2-lvarus{
    top:65vh; 
    right:16vw;
    font-size:2.5vw;
}
.posicionamiento-fecha2-lvarus{
    top:75vh; 
    right:2vw;
    width:40vw;
}
.nombre-fecha3-lvarus{
    top:115vh; 
    right:68vw;
    font-size:2.5vw;
}
.posicionamiento-fecha3-lvarus{
    top:125vh; 
    right:55vw;
    width:40vw;
}
.nombre-fecha4-lvarus{
    top:115vh; 
    right:16vw;
}
.posicionamiento-fecha4-lvarus{
    top:125vh; 
    right:2vw;
    width:40vw;
}
.nombre-fecha5-lvarus{
    top:165vh;
    right:68vw;
}
.posicionamiento-fecha5-lvarus{
    top:175vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha6-lvarus{
    top:165vh; 
    right:16vw;
}
.posicionamiento-fecha6-lvarus{
    top:175vh;
    right:2vw;
    width:40vw;
}
.nombre-fecha7-lvarus{
    top:215vh; 
    right:68vw;
}
.posicionamiento-fecha7-lvarus{
    top:225vh; 
    right:55vw;
    width:40vw;
}
.nombre-fecha8-lvarus{
    top:215vh;
    right:16vw;
}
.posicionamiento-fecha8-lvarus{
    top:225vh; 
    right:2vw;
    width:40vw;
}
.nombre-fecha9-lvarus{
    top:270vh;
    right:68vw;
}
.posicionamiento-fecha9-lvarus{
    top:280vh; 
    right:55vw;
    width:40vw;
}
.nombre-fecha10-lvarus{
    top:270vh; 
    right:16vw;
}
.posicionamiento-fecha10-lvarus{
    top:280vh; 
    right:2vw; 
    width:40vw;
}
.nombre-fecha11-lvarus{
    top:320vh;
    right:68vw;
}
.posicionamiento-fecha11-lvarus{
    top:330vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha12-lvarus{
    top:320vh; 
    right:16vw;
}
.posicionamiento-fecha12-lvarus{
    top:330vh;
    right:2vw; 
    width:40vw;
}
.nombre-fecha13-lvarus{
    top:370vh; 
    right:68vw;
}
.posicionamiento-fecha13-lvarus{
    top:380vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha14-lvarus{
    top:370vh;
    right:16vw;
}
.posicionamiento-fecha14-lvarus{
    top:380vh;
    right:2vw;
    width:40vw;
}
.nombre-fecha15-lvarus{
    top:420vh;
    right:68vw;
}
.posicionamiento-fecha15-lvarus{
    top:430vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha16-lvarus{
    top:420vh;
    right:16vw;
}
.posicionamiento-fecha16-lvarus{
    top:430vh;
    right:2vw;
    width:40vw;
}
.nombre-fecha17-lvarus{
    top:475vh;
    right:68vw;
}
.posicionamiento-fecha17-lvarus{
    top:485vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha18-lvarus{
    top:475vh;
    right:16vw;
}
.posicionamiento-fecha18-lvarus{
    top:485vh;
    right:2vw;
    width:40vw;
}
.nombre-fecha19-lvarus{
    top:525vh;
    right:68vw;
}
.posicionamiento-fecha19-lvarus{
    top:535vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha20-lvarus{
    top:525vh;
    right:16vw;
}
.posicionamiento-fecha20-lvarus{
    top:535vh; 
    right:2vw; 
    width:40vw;
}
.nombre-fecha21-lvarus{
    top:575vh;
    right:68vw;
}
.posicionamiento-fecha21-lvarus{
    top:585vh;
    right:55vw;
    width:40vw;
}
.nombre-fecha22-lvarus{
    top:575vh; 
    right:16vw;
}
.posicionamiento-fecha22-lvarus{
    top:585vh; 
    right:2vw; 
    width:40vw;
}
.nombre-cuartos-lvarus{
    top:625vh;
    right:68vw;
}
.posicionamiento-cuartos-lvarus{
    top:635vh;;
    right:55vw;
    width:40vw;
}
.nombre-semi-lvarus{
    top:625vh; 
    right:16vw;
}
.posicionamiento-semi-lvarus{
    top:635vh; 
    right:2vw; 
    width:40vw;
}
.nombre-final-lvarus{
    top:690vh; 
    right:45vw;
}
.posicionamiento-final-lvarus{
    top:700vh; 
    right:30vw;
    width:40vw;
}
.nombre-semi-supercopa{
    top:60vh;
    right:68vw;
}
.posicionamiento-semi-supercopa{
    top:70vh;
    right:60vw;
    height:10vw; 
    width:30vw;
}
.nombre-3ro4to-supercopa{
    top:60vh;
    right:18vw;
}
.posicionamiento-3ro4to-supercopa{
    top:70vh;
    right:08vw;
    height:5vw;
    width:30vw;
}
.nombre-final-supercopa{
    top:90vh;
    right:46vw;
}
.posicionamiento-final-supercopa{
    position:absolute;
    top:100vh;
    right:34vw;
    height:5vw;
    width:30vw;
}
.nombre-grupo-campmundialfivb{
    top:62vh;
    right:47vw;
}
.posicionamiento-grupo-campmundialfivb{
    position:absolute;
    top:35.2vw;
    right:30vw;
    width:45vw;
    height:12vw;
}
.nombre-fecha1-campfivb{
    top:47vw;
    right:80vw;
}
.posicionamiento-fecha1-campfivb{
    top:52vw; 
    right:70vw;
    width:25vw;
    height:12vw;
}
.nombre-fecha2-campfivb{
    top:47vw; 
    right:47vw;
}
.posicionamiento-fecha2-campfivb{
    top:52vw; 
    right:38vw;
    width:25vw;
    height:12vw;
}
.nombre-fecha3-campfivb{
    top:47vw; 
    right:15vw;
}
.posicionamiento-fecha3-campfivb{
    top:52vw; 
    right:05vw;
    width:25vw;
    height:12vw;
}
.nombre-semi-campfivb{
    top:65vw; 
    right:78vw;
}
.posicionamiento-semi-campfivb{
    top:70vw; 
    right:70vw;
    width:25vw;
    height:12vw;
}
.nombre-tercer-campfivb{
    top:65vw; 
    right:45vw;
}
.posicionamiento-tercer-campfivb{
    top:70vw; 
    right:38vw;
    width:25vw;
    height:8vw;
}
.nombre-final-campfivb{
    top:65vw; 
    right:15vw;
    height:8vw;
}
.posicionamiento-final-campfivb{
    top:70vw; 
    right:06vw;
    width:25vw;
    height:5vw;
}
.nombre-grupo-a-campfivb-f{
    top:30vw;
    right:72vw;
}
.posicionamiento-grupo-a-campfivb-f{
    position:absolute;
    top:35vw;
    right:55vw;
    width:40vw;
    height:12vw;
}
.nombre-fecha1-a-campfivb-f{
    top:55vw; 
    right:68vw;
    
}
.posicionamiento-fecha1-a-campfivb-f{
    top:60vw; 
    right:60vw;
    width:30vw;
    height:10vw;
}
.nombre-fecha2-a-campfivb-f{
    top:70vw; 
    right:70vw;
}
.posicionamiento-fecha2-a-campfivb-f{
    top:75vw; 
    right:60vw;
    width:30vw;
    height:10vw;
}
.nombre-fecha3-a-campfivb-f{
    top:85vw;
    right:68vw;
}
.posicionamiento-fecha3-a-campfivb-f{
    top:90vw; 
    right:60vw;
    width:30vw;
    height:10vw;
}
.nombre-grupo-b-campfivb-f{
    top:30vw;
    right:20vw;
}
.posicionamiento-grupo-b-campfivb-f{
    top:35vw;
    right:05vw;
    height:12vw;
}
.nombre-fecha1-b-campfivb-f{
    top:55vw; 
    right:15vw;
}
.posicionamiento-fecha1-b-campfivb-f{
    top:60vw; 
    right:5vw;
    width:30vw;
    height:10vw;
}
.nombre-fecha2-b-campfivb-f{
    top:70vw; 
    right:15vw;
}
.posicionamiento-fecha2-b-campfivb-f{
    top:75vw; 
    right:5vw;
    width:30vw;
    height:10vw;
}
.nombre-fecha3-b-campfivb-f{
    top:85vw;
    right:15vw;
}
.posicionamiento-fecha3-b-campfivb-f{
    top:90vw; 
    right:5vw;
    width:30vw;
    height:10vw;
}
.nombre-semi-campfivb-f-playoff{
    top:65vh; 
    right:75vw;
}
.posicionamiento-semi-campfivb-f-playoff{
    top:75vh; 
    right:65vw;
    width:30vw;
    height:10vw;
}
.nombre-tercer-campfivb-f-playoff{
    top:65vh; 
    right:18vw;
}
.posicionamiento-tercer-campfivb-f-playoff{
    top:75vh;  
    right:10vw;
    width:30vw;
    height:05vw;
}
.nombre-final-campfivb-f-playoff{
    top:45vw;
    right:48vw;
}
.posicionamiento-final-campfivb-f-playoff{
    top:50vw; 
    right:38vw;
    width:30vw;
}
.nombre-grupo-a-liga-camp-europa{
    top:30vw; 
    right:70vw;
}
.posicionamiento-grupo-a-liga-camp-europa{
    position:absolute;
    top:35vw; 
    right:55vw;
}
.nombre-grupo-b-liga-camp-europa{
    top:30vw;
    right:20vw;
}
.posicionamiento-grupo-b-liga-camp-europa{
    position: absolute;
    top:35vw;
    right:05vw;
}
.nombre-grupo-c-liga-camp-europa{
    top:50vw; 
    right:70vw;
}
.posicionamiento-grupo-c-liga-camp-europa{
    position: absolute; 
    top:55vw; 
    right:55vw;
}
.nombre-grupo-d-liga-camp-europa{
    top:50vw; 
    right:20vw;
}
.posicionamiento-grupo-d-liga-camp-europa{
    position: absolute; 
    top:55vw; 
    right:05vw;
}
.nombre-grupo-e-liga-camp-europa{
    top:70vw; 
    right:44vw;
}
.posicionamiento-grupo-e-liga-camp-europa{
    position: absolute; 
    top:75vw; 
    right:30vw;
}
.nombre-calendario-a-liga-camp-europam-m{
    top:45vw;
    right:42vw;
}
.posicionamiento-calendario-a-liga-camp-europa-m{
    position: absolute;
    top:105vh;
    right:20vw;
    width:50vw;
    height:35vw;
}   
.nombre-calendario-b-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-b-liga-camp-europa-m{
    position: absolute;
    top:105vh;
    right:20vw;
    width:55vw;
    height:35vw;
}
.nombre-calendario-c-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-c-liga-camp-europa-m{
    position: absolute;
    top:105vh;
    right:20vw;
    width:55vw;
    height:35vw;
}
.nombre-calendario-d-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-d-liga-camp-europa-m{
    position: absolute;
    top:105vh;
    right:20vw;
    width:55vw;
    height:35vw;
}
.nombre-calendario-e-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-e-liga-camp-europa-m{
    position: absolute;
    top:105vh;
    right:20vw;
    width:55vw;
    height:35vw;
}
.nombre-calendario-cuartos-liga-camp-europam-m{
    top:75vh;
    right:71vw;
}
.posicionamiento-calendario-cuartos-liga-camp-europa-m{
    top:85vh;
    right:55vw;
    width:40vw;
}
.nombre-calendario-semifinales-liga-camp-europam-m{
    top:75vh;
    right:18vw;
}
.posicionamiento-calendario-semifinales-liga-camp-europa-m{
    top:85vh;
    right:04vw;
    width:40vw;
}
.nombre-calendario-final-liga-camp-europam-m{
    top:155vh;
    right:47vw;
}
.posicionamiento-calendario-final-liga-camp-europa-m{
    top:165vh;
    right:30vw;
}
.nombre-calendario-16avos-copa-cev{
    top:62vh;
    right:71vw;
}
.posicionamiento-calendario-16avos-copa-cev{
    top:72vh;
    right:50vw;
    width:45vw;
    height:50vw;
}
.nombre-calendario-16avos2-copa-cev{
    top:62vh;
    right:18vw;
}
.posicionamiento-calendario-16avos2-copa-cev{
    top:72vh;
    right:1vw;
    width:45vw;
    height:50vw;
}
.nombre-calendario-octavos-copa-cev{
    top:190vh;
    right:71vw;
}
.posicionamiento-calendario-octavos-copa-cev{
    top:200vh;
    right:50vw;
    width:45vw;
}
.nombre-calendario-cuartos-copa-cev{
    top:190vh;
    right:15vw;
}
.posicionamiento-calendario-cuartos-copa-cev{
    top:200vh;
    right:0vw;
    width:45vw;
    height:35vw;
}
.nombre-calendario-semi-copa-cev{
    top:295vh;
    right:45vw;
}
.posicionamiento-calendario-semi-copa-cev{
    top:305vh;
    right:25vw;
    width:45vw;
    height:15vw;
}
.nombre-calendario-final-copa-cev{
    top:335vh;
    right:45vw;
}
.posicionamiento-calendario-final-copa-cev{
    top:345vh;
    right:30vw;
}
.nombre-grupoa-camp-sud{
    top:72vh;
    right:75vw;
}
.posicionamiento-grupoa-camp-sud{
    position:absolute;
    top:82vh;
    right:60vw;
    height: 10vw;
}
.nombre-calendario-camp-sud{
    top:105vh;
    right:74vw;
}
.posicionamiento-calendario-camp-sud{
    position: absolute;
    top:115vh;
    right:60vw;
    height:20vw;
}
.nombre-grupob-camp-sud{
    top:72vh;
    right:20vw;
}
.posicionamiento-grupob-camp-sud{
    position:absolute;
    top:82vh;
    right:05vw;
}
.nombre-calendario2-camp-sud{
    top:105vh;
    right:20vw;
}
.posicionamiento-calendario2-camp-sud{
    position: absolute;
    top:115vh;
    right:06vw;
    height:20vw;
}
.nombre-grupoc-camp-sud{
    top:165vh;
    right:50vw;
}
.posicionamiento-grupoc-camp-sud{
    position:absolute;
    top:175vh;
    right:35vw;
    height:10vw;
}
.nombre-calendario3-camp-sud{
    top:200vh;
    right:49vw;
}
.posicionamiento-calendario3-camp-sud{
    position: absolute;
    top:210vh;
    right:35vw;
    height:10vw;    
}
.nombre-semi-camp-sud-playoff{
    top:72vh;
    right:74vw;
}
.posicionamiento-semi-camp-sud-playoff{
    position:absolute;
    top:82vh;
    right:58vw;
    height:15vw;
}
.nombre-3ro-camp-sud-playoff{
    top:72vh;
    right:20vw;
}
.posicionamiento-3ro-camp-sud-playoff{
    position: absolute;
    top:82vh;
    right:06vw;
    height:10vw;
}
.nombre-final-camp-sud-playoff{
    top:120vh;
    right:49vw;
}
.posicionamiento-final-camp-sud-playoff{
    position:absolute;
    top:130vh;
    right:32vw;
    height:10vw;
}
.nombre-grupo-unico-camp-sud-f{
    top:70vh;
    right:48vw;
}
.posicionamiento-grupo-unico-camp-sud-f{
    position:absolute;
    top:80vh; 
    right:35vw;
}
.nombre-calendario-camp-sud-f{
    top:125vh;
    right:50vw;
}
.posicionamiento-calendario-camp-sud-f{
    position:absolute;
    top:135vh;
    right:35vw;
    height:1vw;
}

.nombre-Ronda-preliminar-j-o-M{
    position:absolute;
    top:40vh;
    right:40vw
}
.nombre-grupo-a-j-o{
    position:absolute;
    top:62vh; 
    right:75vw;
    text-decoration:underline
}
.posicionamiento-grupo-a-j-o-m{
    top:72vh; 
    right:58vw;
    font-size:1vw;
}

.nombre-grupo-b-j-o-M{
    top:62vh; 
    right:25vw;
    text-decoration:underline
}
.posicionamiento-grupo-b-j-o-m{
    top:72vh; 
    right:10vw;
    font-size:1vw;
}
.nombre-cuartos-j-o-M{
    top:140vh; 
    right:70vw;
    text-decoration:underline
}
.posicionamiento-cuartos-j-o-m{
    top:150vh; 
    right:58vw;
    height:10vw;
}
.nombre-semi-j-o-M{
    top:140vh; 
    right:25vw;
    text-decoration:underline
}
.posicionamiento-semi-j-o-m{
    top:150vh; 
    right:10vw;
    height:10vw;
}
.nombre-3y4to-j-o-M{
    top:175vh; 
    right:50vw;
    text-decoration:underline
}
.posicionamiento-3y4to-j-o-m{
    top:185vh; 
    right:35vw;
    height:5vw;
}
.nombre-final-j-o-M{
    top:195vh; 
    right:52vw;
    text-decoration:underline
}
.posicionamiento-final-j-o-m{
    top:205vh; 
    right:35vw;
    height:5vw;
}
.nombre-Ronda-preliminar-j-o-f{
    top:40vh; 
    right:38vw;
}
.nombre-Ronda-grupo-a-j-o-f{
    top:45vh; 
    right:75vw;
    text-decoration:underline
}
.posicionamiento-grupo-a-j-o-f{
    top:55vh; 
    right:58vw;
}
.nombre-Ronda-grupo-b-j-o-f{
    top:45vh; 
    right:25vw;
    text-decoration:underline
}
.posicionamiento-grupo-b-j-o-f{
    top:55vh; 
    right:10vw;
    height:32vw;
}
.nombre-Ronda-cuartos-j-o-f{
    top:145vh; 
    right:75vw;
    text-decoration:underline
}
.posicionamiento-cuartos-j-o-f{
    top:155vh; 
    right:58vw;
}
.nombre-Ronda-semi-j-o-f{
    top:145vh; 
    right:25vw;
    text-decoration:underline
}
.posicionamiento-semi-j-o-f{
    top:155vh; 
    right:10vw;
    height:12vw;
}
.nombre-Ronda-final-j-o-f{
    top:215vh; 
    right:52vw;
    text-decoration:underline
}
.posicionamiento-final-j-o-f{
    top:225vh;
    right:35vw;
}
.nombre-pos-grupo-a-camp-mund{
    top:35vw;
    right:65vw;
}
.posicionamiento-grupo-a-camp-mund{
    top:40vw;
    right:60vw;
    font-size:1vw;
}
.nombre-pos-grupo-b-camp-mund{
    top:35vw;
    right:15vw;
}
.posicionamiento-grupo-b-camp-mund{
    top:40vw;
    right:10vw;
    font-size:1vw;
}
.nombre-pos-grupo-c-camp-mund{
    top:50vw;
    right:65vw;
}
.posicionamiento-grupo-c-camp-mund{
    top:55vw;
    right:60vw;
    font-size:1vw;
}
.nombre-pos-grupo-d-camp-mund{
    top:50vw;
    right:15vw;
}
.posicionamiento-grupo-d-camp-mund{
    top:55vw;
    right:10vw;
    font-size:1vw;
}
.nombre-pos-grupo-e-camp-mund{
    top:65vw;
    right:65vw;
}
.posicionamiento-grupo-e-camp-mund{
    top:70vw;
    right:60vw;
    font-size:1vw;
}
.nombre-pos-grupo-f-camp-mund{
    top:65vw;
    right:15vw;
}
.posicionamiento-grupo-f-camp-mund{
    top:70vw;
    right:10vw;
    font-size:1vw;
}
.nombre-pos-grupo-a-camp-mund-f{
    top:31vw;
    right:65vw;
}
.posicionamiento-grupo-a-camp-mund-f{
    position:absolute;
    top:36vw;
    right:60vw;
    font-size:1vw;
}
.nombre-pos-grupo-b-camp-mund-f{
    top:31vw;
    right:15vw;
}
.posicionamiento-grupo-b-camp-mund-f{
    position:absolute;
    top:36vw;
    right:10vw;
    font-size:1vw;
}
.nombre-pos-grupo-c-camp-mund-f{
    top:49vw;
    right:65vw;
}
.posicionamiento-grupo-c-camp-mund-f{
    position:absolute;
    top:54vw;
    right:60vw;
    font-size:1vw;
}
.nombre-pos-grupo-d-camp-mund-f{
    top:49vw;
    right:15vw;
}
.posicionamiento-grupo-d-camp-mund-f{
    position:absolute;
    top:54vw;
    right:08vw;
    font-size:1vw;
}
.nombre-fixture-grupo-a{
    top:31vw;
    right:70vw;
}
.posicionamiento-fixture-grupo-a{
    position:absolute;
    top:36vw;
    right:58vw;
    font-size:1vw;
}
.nombre-fixture-grupo-b{
    top:31vw;
    right:20vw;
}
.posicionamiento-fixture-grupo-b{
    position:absolute;
    top:36vw;
    right:08vw;
    font-size:1vw;
}
.nombre-fixture-grupo-c{
    top:50vw;
    right:70vw;
}
.posicionamiento-fixture-grupo-c{
    position:absolute;
    top:55vw;
    right:58vw;
    font-size:1vw;
}
.nombre-fixture-grupo-d{
    top:51vw;
    right:22vw;
}
.posicionamiento-fixture-grupo-d{
    position:absolute;
    top:56vw;
    right:10vw;
    font-size:1vw;
}
.nombre-fixture-grupo-e{
    top:75vw;
    right:70vw;
}
.posicionamiento-fixture-grupo-e{
    position:absolute;
    top:80vw;
    right:58vw;
    font-size:1vw;
}
.nombre-fixture-grupo-f{
    top:75vw;
    right:22vw;
}
.posicionamiento-fixture-grupo-f{
    position:absolute;
    top:80vw;
    right:10vw;
    font-size:1vw;
}
.nombre-fixture-grupo-a-f{
    top:30vw;
    right:70vw;
}
.posicionamiento-fixture-grupo-a{
    top:35vw;
    right:58vw;
    font-size:1vw;
}
.nombre-fixture-grupo-b-f{
    top:30vw;
    right:17vw;
}
.posicionamiento-fixture-grupo-b{
    top:35vw;
    right:05vw;
    font-size:1vw;
}
.nombre-fixture-grupo-c-f{
    top:90vw;
    right:70vw;
}
.posicionamiento-fixture-grupo-c{
    top:95vw;
    right:58vw;
    font-size:1vw;
}
.nombre-fixture-grupo-d-f{
    top:90vw;
    right:17vw;
}
.posicionamiento-fixture-grupo-d{
    top:95vw;
    right:05vw;
    font-size:1vw;
}
.nombre-pos-nation-league{
    position: absolute;
    top:39vh;
    right:37vw;
}
.posicionamiento-nation-league{
    position: absolute;
    top:50vh;
    right:68vw;
}
.nombre-calendario-nation-league{
    top:35vh;
    right:45vw;
}
.posicionamiento-calendario-nation-league{
    top:50vh;
    right:55vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-2-nation-league{
    top:50vh;
    right:5vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-3-nation-league{
    top:150vh;
    right:55vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-4-nation-league{
    top:150vh;
    right:05vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-5-nation-league{
    top:240vh;
    right:55vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-6-nation-league{
    top:245vh;
    right:5vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-7-nation-league{
    top:330vh;
    right:55vw;
    font-size:1.2vw;
}
.posicionamiento-calendario-8-nation-league{
    top:330vh;
    right:5vw;
    font-size:1.2vw;
}
.nombre-cuartos-nation-league{
    top:415vh;
    right:75vw;
}
.posicionamiento-cuartos-nation-league{
    top:425vh;
    right:58vw;
    font-size:1vw;
}
.nombre-semi-nation-league{
    top:415vh;
    right:20vw;
}
.posicionamiento-semi-nation-league{
    top:425vh;
    right:5vw;
    font-size:1vw;
}
.nombre-final-nation-league{
    top:460vh;
    right:48vw;
}
.posicionamiento-final-nation-league{
    top:470vh;
    right:30vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-panamericana{
    top:22vw; 
    right:75vw;
}
.posicionamiento-grupo-a-copa-panamericana{
    position: absolute; 
    top:27vw; 
    right:60vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-a-copa-panamericana{
    position:absolute;
    top:42vw;
    right:60vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-panamericana{
    top:20vw; 
    right:20vw;
}
.posicionamiento-grupo-b-copa-panamericana{
    position: absolute; 
    top:25vw; 
    right:05vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-b-copa-panamericana{
    position:absolute;
    top:40vw;
    right:05vw;
    font-size:1vw;
}
.nombre-grupo-c-copa-panamericana{
    top:55vw;
    right:45vw;
}
.posicionamiento-grupo-c-copa-panamericana{
    position:absolute;
    top:60vw;
    right:30vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-c-copa-panamericana{
    position:absolute;
    top:76vw;
    right:30vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-panamericana-f{
    top:95vw;
    right:75vw;
}
.posicionamiento-grupo-a-copa-panamericana-f{
    position:absolute;
    top:100vw;
    right:60vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-a-copa-panamericana-f{
    position:absolute;
    top:121vw;
    right:60vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-panamericana-f{
    top:95vw;
    right:20vw;
}
.posicionamiento-grupo-b-copa-panamericana-f{
    position:absolute;
    top:100vw;
    right:05vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-b-copa-panamericana-f{
    position:absolute;
    top:121vw;
    right:03vw;
    font-size:1vw;
}
.nombre-semi-copa-panamericana-playoff{
    top:25vw;
    right:75vw;
}
.posicionamiento-semi-copa-panamericana-playoff{
    position:absolute;
    top:30vw;
    right:58vw;
    font-size:1vw;
}
.nombre-final-copa-panamericana-playoff{
    top:25vw;
    right:25vw;
}
.posicionamiento-final-copa-panamericana-playoff{
    position:absolute;
    top:30vw;
    right:04vw;
    font-size:1vw;
}
.nombre-semi-copa-panamericana-playoff-f{
    top:50vw;
    right:75vw;
}
.posicionamiento-semi-copa-panamericana-playoff-f{
    position:absolute;
    top:55vw;
    right:58vw;
    font-size:1vw;
}
.nombre-final-copa-panamericana-playoff-f{
    top:50vw;
    right:20vw;
}
.posicionamiento-final-copa-panamericana-playoff-f{
    position:absolute;
    top:55vw;
    right:03vw;
    font-size:1vw;
}
.nombre-grupo-a-juegos-panamericanos{
    top:21vw; 
    right:75vw;
}
.posicionamiento-grupo-a-juegos-panamericanos{
    position: absolute; 
    top:27vw; 
    right:60vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-a-juegos-panamericanos{
    position:absolute;
    top:41vw;
    right:60vw;
    font-size:1vw;
}
.nombre-grupo-b-juegos-panamericanos{
    top:21vw;
    right:20vw;
}
.posicionamiento-grupo-b-juegos-panamericanos{
    position:absolute;
    top:27vw;
    right:05vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-b-juegos-panamericanos{
    position:absolute;
    top:41vw;
    right:05vw;
    font-size:1vw;
}
.nombre-grupo-a-juegos-panamericanos-f{
    top:65vw;
    right:75vw;
}
.posicionamiento-grupo-a-juegos-panamericanos-f{
    position: absolute;
    top:70vw;
    right:60vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-a-juegos-panamericanos-f{
    position:absolute;
    top:86vw;
    right:60vw;
    font-size:1vw;
}
.nombre-grupo-b-juegos-panamericanos-f{
    top:65vw;
    right:21vw;
}
.posicionamiento-grupo-b-juegos-panamericanos-f{
    position:absolute;
    top:70vw;
    right:05vw;
    font-size:1.5vw;
}
.posicionamiento-fixture-grupo-b-juegos-panamericanos-f{
    position:absolute;
    top:85vw;
    right:05vw;
    font-size:1vw;
}
.nombre-semi-juegos-panamericanos-playoff{
    top:30vw;
    right:73vw;
}
.posicionamiento-semi-juegos-panamericanos-playoff{
    position:absolute;
    top:35vw;
    right:58vw;
    font-size:1vw;
}
.nombre-3ro-juegos-panamericanos-playoff{
    top:30vw;
    right:15vw;
}
.posicionamiento-3ro-juegos-panamericanos-playoff{
    position:absolute;
    top:35vw;
    right:05vw;
    font-size:1vw;
}
.nombre-final-juegos-panamericanos-playoff{
    top:45vw;
    right:48vw;
}
.posicionamiento-final-juegos-panamericanos-playoff{
    position:absolute;
    top:50vw;
    right:30vw;
    font-size:1vw;
}
.nombre-semi-juegos-panamericanos-playoff-f{
    top:65vw;
    right:72vw;
}
.posicionamiento-semi-juegos-panamericanos-playoff-f{
    position:absolute;
    top:70vw;
    right:58vw;
    font-size:1vw;
}
.nombre-3ro-juegos-panamericanos-playoff-f{
    top:65vw;
    right:20vw;
}
.posicionamiento-3ro-juegos-panamericanos-playoff-f{
    position:absolute;
    top:70vw;
    right:05vw;
    font-size:1vw;
}
.nombre-final-juegos-panamericanos-playoff-f{
    top:80vw;
    right:48vw;
}
.posicionamiento-final-juegos-panamericanos-playoff-f{
    position:absolute;
    top:85vw;
    right:30vw;
    font-size:1vw;
}
.nombre-grupo-unico-copa-pana-s23{
    top:30vw; 
    right:49vw;
}
.posicionamiento-grupo-unico-copa-pana-s23{
    position:absolute;
    top:35vw; 
    right:35vw;
    font-size:1vw;
    width:35vw;
}
.nombre-calendario-copa-pana-s23{
    top:50vw; 
    right:45vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-copa-pana-s23{
    top:55vw; 
    right:35vw;
    width:35vw;
    font-size:1vw;
}
.nombre-final-copa-pana-s23{
    top:80vw; 
    right:48vw;
    font-size:2.5vw;
}
.posicionamiento-final-copa-pana-s23{
    top:85vw; 
    right:35vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-pana-s23-f{
    top:35vw; 
    right:75vw;
}
.posicionamiento-grupo-a-copa-pana-s23-f{
    position:absolute;
    top:40vw; 
    right:60vw;
    font-size:1.5vw;
}
.nombre-calendario-copa-pana-s23-f{
    top:55vw; 
    right:75vw;
    font-size:2.5vw;
}
.posicionamiento-grupo-a-copa-pana-s23-f{
    top:60vw; 
    right:62vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-pana-s23-f{
    top:35vw; 
    right:21vw;
}
.posicionamiento-grupo-b-copa-pana-s23-f{
    position:absolute;
    top:40vw; 
    right:05vw;
    font-size:1.5vw;
}
.nombre-calendario2-copa-pana-s23-f{
    top:55vw; 
    right:18vw;
    font-size:2.5vw;
}
.posicionamiento-calendario2-copa-pana-s23-f{
    top:60vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-semi-copa-pana-s23-f{
    top:85vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-semi-copa-pana-s23-f{
    top:90vw; 
    right:61vw;
    width:35vw;
    font-size:1vw;
}
.nombre-final-copa-pana-s23-f{
    top:85vw; 
    right:21vw;
    font-size:2.5vw;
}
.posicionamiento-final-copa-pana-s23-f{
    top:90vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-pana-s21{
    top:90vh; 
    right:75vw;
}
.posicionamiento-grupo-a-copa-pana-s21{
    position:absolute;
    top:100vh; 
    right:60vw;
    font-size:1vw;
}
.posicionamiento-calendario-grupo-a-copa-pana-s21{
    top:65vw; 
    right:62vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-pana-s21{
    top:90vh;
    right:21vw;
}
.posicionamiento-grupo-b-copa-pana-s21{
    position:absolute;
    top:100vh; 
    right:05vw;
    font-size:1vw;
}
.nombre-calendariogrupo-b-copa-pana-s21{
    top:60vw; 
    right:18vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-grupo-b-copa-pana-s21{
    top:65vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-semi-copa-pana-s21{
    top:89vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-semi-copa-pana-s21{
    top:94vw; 
    right:61vw;
    width:35vw;
    font-size:1vw;
}
.nombre-final-copa-pana-s21{
    top:90vw; 
    right:21vw;
    font-size:2.5vw;
}
.posicionamiento-final-copa-pana-s21{
    top:95vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-pana-s20-f{
    top:40vw; 
    right:75vw;
}
.posicionamiento-grupo-a-copa-pana-s20-f{
    position:absolute;
    top:45vw; 
    right:60vw;
    font-size:1.5vw;
}
.nombre-calendario-grupo-a-copa-pana-s20-f{
    top:65vw; 
    right:75vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-grupo-a-copa-pana-s20-f{
    top:70vw; 
    right:62vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-pana-s20-f{
    top:40vw; 
    right:21vw;
}
.posicionamiento-grupo-b-copa-pana-s20-f{
    position:absolute;
    top:45vw; 
    right:05vw;
    font-size:1.5vw;
}
.nombre-calendario-grupo-b-copa-pana-s20-f{
    top:65vw; 
    right:18vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-grupo-b-copa-pana-s20-f{
    top:70vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-semi-copa-pana-s20-f{
    top:85vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-semi-copa-pana-s20-f{
    top:90vw; 
    right:61vw;
    width:35vw;
    font-size:1vw;
}
.nombre-final-copa-pana-s20-f{
    top:85vw; 
    right:21vw;
    font-size:2.5vw;
}
.posicionamiento-final-copa-pana-s20-f{
    top:90vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-a-copa-pana-s18-f{
    top:37vw; 
    right:75vw;
}
.posicionamiento-grupo-a-copa-pana-s18-f{
    position:absolute;
    top:42vw; 
    right:60vw;
    font-size:1w;
}
.nombre-calendario-grupo-a-copa-pana-s18-f{
    top:55vw; 
    right:75vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-grupo-a-copa-pana-s18-f{
    top:61vw; 
    right:62vw;
    width:35vw;
    font-size:1vw;
}
.nombre-grupo-b-copa-pana-s18-f{
    top:75vh; 
    right:21vw;
}
.posicionamiento-grupo-b-copa-pana-s18-f{
    position:absolute;
    top:85vh; 
    right:05vw;
    font-size:1vw;
}
.nombre-calendario-grupo-b-copa-pana-s18-f{
    top:113vh; 
    right:18vw;
    font-size:2.5vw;
}
.posicionamiento-calendario-grupo-b-copa-pana-s18-f{
    top:125vh; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
.nombre-semi-copa-pana-s18-f{
    top:80vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-semi-copa-pana-s18-f{
    top:85vw; 
    right:61vw;
    width:35vw;
    font-size:1vw;
}
.nombre-final-copa-pana-s18-f{
    top:80vw; 
    right:21vw;
    font-size:2.5vw;
}
.posicionamiento-final-copa-pana-s18-f{
    top:85vw; 
    right:06vw;
    width:35vw;
    font-size:1vw;
}
