
.paginacion-posiciones-aclav{
    position:absolute;
    top:165vh;
    right:42vw;
}
.paginacion-fixture-aclav{
    position:absolute;
    top:258vh;
    right:40vw;
}
.paginacion-posiciones-lvarus{
    position:absolute;
    top:115vh;
    right:42vw;
}
.paginacion-torneos-camp-mun-fivb{
    position:absolute;
    top:26vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-camp-mun-fivb{
    position:absolute;
    top:85vw;
    width:5vw;
    height:5vw;
    right:55vw;
}
.paginacion-torneo-camp-mun-fivb-f{
    position:absolute;
    top:26.5vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-fases-camp-mund-fivb-f{
    position:absolute;
    top:95vw;
    width:20vw;
    height:2vw;
    right:35vw;
}
.paginacion-camp-mun-fivb-f{
    position:absolute;
    top:102vw;
    width:5vw;
    height:5vw;
    right:50vw;
}
.paginacion-torneo-camp-mun-fivb-f-playoff{
    position:absolute;
    top:26vw;
    width:85vw;
    height:5vw;
    right:00vw;
}
.paginacion-fases-camp-mund-fivb-f-playoff{
    position:absolute;
    top:58vw;
    width:20vw;
    height:2vw;
    right:41vw;
}
.paginacion-camp-mund-fivb-playoff-myf{
    position:absolute;
    top:64vw;
    width:5vw;
    height:5vw;
    right:56vw;
}
.paginacion-torneo-liga-camp-europa{
    position:absolute;
    top:26.5vw;
    width:90vw;
    right:00vw;
}
.paginacion-fases-liga-campp-europa{
    position:absolute;
    top:95vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-torneo-liga-camp-europa-a-m{
    position:absolute;
    top:26vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-a-m{
    position:absolute;
    top:31vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-a-m{
    position:absolute;
    top:38vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-fases-liga-camp-europa-b-m{
    position:absolute;
    top:35vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-b-m{
    position:absolute;
    top:40vw;
    width:35vw;
    height:5vw;
    right:30vw;
}
.paginacion-grupos-liga-camp-europa-c-m{
    position:absolute;
    top:27vw;
    width:90vw;
    right:0vw;
}
.paginacion-fases-liga-camp-europa-c-m{
    position:absolute;
    top:33vw;
    width:25vw;
    height:5vw;
    right:35vw;
}
.paginacion-grupos-liga-camp-europa-c-m{
    position:absolute;
    top:39vw;
    width:35vw;
    height:5vw;
    right:30vw;
}




.nombre-pos-grupo1-aclav{
    top:72vh; 
    right:60vw;
}
.posicionamiento-grupo-1-posiciones-aclav{
    position: absolute;
    top:85vh;
    right:92vw;
}
.nombre-fixture-grupo1-aclav{
    position: absolute;
    top:55vh; 
    right:65vw;
}
.posicionamiento-fixture-1-aclav{
    position: absolute;
    top:33vw;
    right:50vw;
}
.nombre-pos-grupo2-aclav{
    top:72vh;
    right:08vw;
}
.posicionamiento-grupo-2-posiciones-aclav{
    position: absolute;
    top:85vh;
    right:40vw;
}
.nombre-fixture-grupo2-aclav{
    position: absolute;
    top:28vw;
    right:18vw;
}
.posicionamiento-fixture-2-aclav{
    position:absolute;
    top:33vw;
    right:06vw;

}
.nombre-pos-grupo3-aclav{
    top:112vh; 
    right:38vw;
}
.posicionamiento-grupo-3-posiciones-aclav{
    position:absolute; 
    top:125vh; 
    right:70vw;
}
.nombre-fixture-grupo3-aclav{
    position: absolute;
    top:50vw;
    right:41vw;
}
.posicionamiento-fixture-grupo3-aclav{
    position: absolute;
    top:55vw;
    right:30vw;   
}
.nombre-fixture-4tos-aclav{
    top:160vh;
    right:40vw;
}
.posicionamiento-fixture-4tos-aclav{
    position: absolute;
    top:170vh;
    right:30vw;
}
.nombre-fixture-semi-aclav{
    top:205vh;
    right:41vw;
}
.posicionamiento-fixture-semi-aclav{
    position: absolute;
    top:215vh;
    right:30vw;
    height:10vw; 
    width:37vw;
}
.nombre-fixture-final-aclav{
    top:235vh;
    right:45vw;
}
.posicionamiento-fixture-final-aclav{
    position: absolute;
    top:245vh;
    right:30vw;
}
.nombre-pos-lvarus{
    position: absolute;
    top:40vh;
    right:35vw;
}
.posicionamiento-posiciones-lvarus{
    position: absolute; 
    top:55vh; 
    right:28vw;
    font-size: 25vw;
}
.nombre-fecha1-lvarus{
    top:30vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-fecha1-lvarus{
    position: absolute; 
    top:35vw; 
    right:60vw;
    width:30vw;
}
.nombre-fecha2-lvarus{
    top:30vw; 
    right:18vw;
    font-size:2.5vw;
}
.posicionamiento-fecha2-lvarus{
    top:35vw; 
    right:08vw;
    width:30vw;
}
.nombre-fecha3-lvarus{
    top:55vw; 
    right:71vw;
    font-size:2.5vw;
}
.posicionamiento-fecha3-lvarus{
    top:60vw; 
    right:60vw;
    width:30vw;
}
.nombre-fecha4-lvarus{
    top:55vw; 
    right:18vw;
}
.posicionamiento-fecha4-lvarus{
    top:60vw; 
    right:08vw;
    width:30vw;
}
.nombre-fecha5-lvarus{
    top:80vw;
    right:71vw;
}
.posicionamiento-fecha5-lvarus{
    top:85vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha6-lvarus{
    top:80vw; 
    right:18vw;
}
.posicionamiento-fecha6-lvarus{
    top:85vw;
    right:08vw;
    width:30vw;
}
.nombre-fecha7-lvarus{
    top:105vw; 
    right:71vw;
}
.posicionamiento-fecha7-lvarus{
    top:110vw; 
    right:60vw;
    width:30vw;
}
.nombre-fecha8-lvarus{
    top:105vw;
    right:18vw;
}
.posicionamiento-fecha8-lvarus{
    top:110vw; 
    right:08vw;
    width:30vw;
}
.nombre-fecha9-lvarus{
    top:130vw;
    right:71vw;
}
.posicionamiento-fecha9-lvarus{
    top:135vw; 
    right:60vw;
    width:30vw;
}
.nombre-fecha10-lvarus{
    top:130vw; 
    right:18vw;
}
.posicionamiento-fecha10-lvarus{
    top:135vw; 
    right:08vw; 
    width:30vw;
}
.nombre-fecha11-lvarus{
    top:155vw;
    right:71vw;
}
.posicionamiento-fecha11-lvarus{
    top:160vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha12-lvarus{
    top:155vw; 
    right:18vw;
}
.posicionamiento-fecha12-lvarus{
    top:160vw;
    right:08vw; 
    width:30vw;
}
.nombre-fecha13-lvarus{
    top:180vw; 
    right:71vw;
}
.posicionamiento-fecha13-lvarus{
    top:185vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha14-lvarus{
    top:180vw;
    right:18vw;
}
.posicionamiento-fecha14-lvarus{
    top:185vw;
    right:08vw;
    width:30vw;
}
.nombre-fecha15-lvarus{
    top:205vw;
    right:71vw;
}
.posicionamiento-fecha15-lvarus{
    top:210vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha16-lvarus{
    top:205vw;
    right:18vw;
}
.posicionamiento-fecha16-lvarus{
    top:210vw;
    right:08vw;
    width:30vw;
}
.nombre-fecha17-lvarus{
    top:230vw;
    right:71vw;
}
.posicionamiento-fecha17-lvarus{
    top:235vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha18-lvarus{
    top:230vw;
    right:18vw;
}
.posicionamiento-fecha18-lvarus{
    top:235vw;
    right:08vw;
    width:30vw;
}
.nombre-fecha19-lvarus{
    top:255vw;
    right:71vw;
}
.posicionamiento-fecha19-lvarus{
    top:260vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha20-lvarus{
    top:255vw;
    right:18vw;
}
.posicionamiento-fecha20-lvarus{
    top:260vw; 
    right:08vw; 
    width:30vw;
}
.nombre-fecha21-lvarus{
    top:280vw;
    right:71vw;
}
.posicionamiento-fecha21-lvarus{
    top:285vw;
    right:60vw;
    width:30vw;
}
.nombre-fecha22-lvarus{
    top:280vw; 
    right:18vw;
}
.posicionamiento-fecha22-lvarus{
    top:285vw; 
    right:08vw; 
    width:30vw;
}
.nombre-cuartos-lvarus{
    top:305vw;
    right:68vw;
}
.posicionamiento-cuartos-lvarus{
    top:310vw;
    right:60vw;
    width:30vw;
}
.nombre-semi-lvarus{
    top:305vw; 
    right:18vw;
}
.posicionamiento-semi-lvarus{
    top:310vw; 
    right:08vw; 
    width:30vw;
}
.nombre-final-lvarus{
    top:335vw; 
    right:45vw;
}
.posicionamiento-final-lvarus{
    top:340vw; 
    right:30vw;
    width:40vw;
}
.nombre-semi-supercopa{
    top:30vw;
    right:68vw;
}
.posicionamiento-semi-supercopa{
    top:35vw;
    right:60vw;
    height:10vw; 
    width:30vw;
}
.nombre-3ro4to-supercopa{
    top:30vw;
    right:18vw;
}
.posicionamiento-3ro4to-supercopa{
    top:35vw;
    right:08vw;
    height:5vw;
    width:30vw;
}
.nombre-final-supercopa{
    top:45vw;
    right:45vw;
}
.posicionamiento-final-supercopa{
    position: absolute;
    top:50vw;
    right:34vw;
    height:5vw;
    width:30vw;
}
.nombre-grupo-campmundialfivb{
    top:29vw;
    right:47vw;
}
.posicionamiento-grupo-campmundialfivb{
    position:absolute;
    top:35.2vw;
    right:30vw;
    width:45vw;
}
.nombre-fecha1-campfivb{
    top:47vw;
    right:80vw;
}
.posicionamiento-fecha1-campfivb{
    top:52vw; 
    right:70vw;
    width:25vw;
}
.nombre-fecha2-campfivb{
    top:47vw; 
    right:47vw;
}
.posicionamiento-fecha2-campfivb{
    top:52vw; 
    right:38vw;
    width:25vw;
}
.nombre-fecha3-campfivb{
    top:47vw; 
    right:15vw;
}
.posicionamiento-fecha3-campfivb{
    top:52vw; 
    right:05vw;
    width:25vw;
    font-size:1vw;
}
.nombre-semi-campfivb{
    top:65vw; 
    right:78vw;
}
.posicionamiento-semi-campfivb{
    top:70vw; 
    right:70vw;
    width:25vw;
}
.nombre-tercer-campfivb{
    top:65vw; 
    right:45vw;
}
.posicionamiento-tercer-campfivb{
    top:70vw; 
    right:38vw;
    width:25vw;
    height:5vw;
}
.nombre-final-campfivb{
    top:65vw; 
    right:15vw;
}
.posicionamiento-final-campfivb{
    top:70vw; 
    right:06vw;
    width:25vw;
    height:5vw;
}
.nombre-grupo-a-campfivb-f{
    top:30vw;
    right:70vw;
}
.posicionamiento-grupo-a-campfivb-f{
    position:absolute;
    top:35vw;
    right:55vw;
    width:40vw;
}
.nombre-fecha1-a-campfivb-f{
    top:55vw; 
    right:68vw;
}
.posicionamiento-fecha1-a-campfivb-f{
    top:60vw; 
    right:60vw;
    width:25vw;
}
.nombre-fecha2-a-campfivb-f{
    top:70vw; 
    right:68vw;
}
.posicionamiento-fecha2-a-campfivb-f{
    top:75vw; 
    right:60vw;
    width:25vw;
}
.nombre-fecha3-a-campfivb-f{
    top:85vw;
    right:68vw;
}
.posicionamiento-fecha3-a-campfivb-f{
    top:90vw; 
    right:60vw;
    width:25vw;
}
.nombre-grupo-b-campfivb-f{
    top:30vw;
    right:22vw;
}
.posicionamiento-grupo-b-campfivb-f{
    top:35vw;
    right:05vw;
}
.nombre-fecha1-b-campfivb-f{
    top:55vw; 
    right:18vw;
}
.posicionamiento-fecha1-b-campfivb-f{
    top:60vw; 
    right:10vw;
    width:25vw;
}
.nombre-fecha2-b-campfivb-f{
    top:70vw; 
    right:18vw;
}
.posicionamiento-fecha2-b-campfivb-f{
    top:75vw; 
    right:10vw;
    width:25vw;
}
.nombre-fecha3-b-campfivb-f{
    top:85vw;
    right:18vw;
}
.posicionamiento-fecha3-b-campfivb-f{
    top:90vw; 
    right:10vw;
    width:25vw;
}
.nombre-semi-campfivb-f-playoff{
    top:30vw; 
    right:75vw;
}
.posicionamiento-semi-campfivb-f-playoff{
    top:35vw; 
    right:65vw;
    width:30vw;
}
.nombre-tercer-campfivb-f-playoff{
    top:30vw; 
    right:18vw;
}
.posicionamiento-tercer-campfivb-f-playoff{
    top:35vw; 
    right:10vw;
    width:30vw;
}
.nombre-final-campfivb-f-playoff{
    top:45vw;
    right:50vw;
}
.posicionamiento-final-campfivb-f-playoff{
    top:50vw; 
    right:38vw;
    width:30vw;
}
.nombre-grupo-a-liga-camp-europa{
    top:30vw; 
    right:70vw;
}
.posicionamiento-grupo-a-liga-camp-europa{
    position:absolute;
    top:35vw; 
    right:55vw;
}
.nombre-grupo-b-liga-camp-europa{
    top:30vw;
    right:20vw;
}
.posicionamiento-grupo-b-liga-camp-europa{
    position: absolute;
    top:35vw;
    right:05vw;
}
.nombre-grupo-c-liga-camp-europa{
    top:50vw; 
    right:70vw;
}
.posicionamiento-grupo-c-liga-camp-europa{
    position: absolute; 
    top:55vw; 
    right:55vw;
}
.nombre-grupo-d-liga-camp-europa{
    top:50vw; 
    right:20vw;
}
.posicionamiento-grupo-d-liga-camp-europa{
    position: absolute; 
    top:55vw; 
    right:05vw;
}
.nombre-grupo-e-liga-camp-europa{
    top:70vw; 
    right:44vw;
}
.posicionamiento-grupo-e-liga-camp-europa{
    position: absolute; 
    top:75vw; 
    right:30vw;
}
.nombre-calendario-a-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-a-liga-camp-europa-m{
    top:50vw;
    right:28vw;
    font-size:1vw;
}   
.nombre-calendario-b-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-b-liga-camp-europa-m{
    top:50vw;
    right:28vw;
    font-size:1vw;
}
.nombre-calendario-c-liga-camp-europam-m{
    top:45vw;
    right:45vw;
}
.posicionamiento-calendario-c-liga-camp-europa-m{
    top:50vw;
    right:28vw;
    font-size:1vw;
}